<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--lockItem屬性設定為true時連線字串需加密-->
    <!--lockItem屬性設定為false時(預設為false)連線字串不需加密-->

    <add name="ETMobileDB" connectionString="Data Source=dalab01.etzone.net;Initial Catalog=ETMobile;User ID=app_reader;Password=Rr1234qwer" lockItem="false" />
    <add name="ETMallDB" connectionString="Data Source=dalab01.etzone.net;Initial Catalog=ETMallET1;User ID=etmall_user;Password=etmall0616" />
    <add name="EHSNDB" connectionString="Data Source=dalab01.etzone.net;Initial Catalog=EHSN;User ID=app_reader;Password=Rr1234qwer" />
    <add name="FugoDB" connectionString="User Id=umallman;Password=umallman!!!666;Data Source=EHSTEST " lockItem="false" />
    <add name="EHSFocusPushDB" connectionString="Data Source=alab01.etzone.net;Initial Catalog=EHSFocusPush;User ID=app_reader;Password=Rr1234qwer" lockItem="false" />
    <add name="RedisQueue" connectionString="redis01.etzone.net,redis02.etzone.net,abortConnect=false" lockItem="false" />
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>